.periodo {

	background-image: url('../../assets/05_Periodo.png');
	background-color: #DE726C;
	background-position: center;
	position: absolute;
	width: 100%; height: 100%;
	left: 0px; top: 0px;
	display: flex;
	justify-content: center;
	background-repeat: no-repeat;
	align-items: center;
}
.periodo-Fechas{
	width: 590px; height: 30px;
	position: absolute;
	display: flex;
	justify-content: space-between ;
	align-items: center;
	border: 2px solid green;
	left: 390px; top: 250px;
	margin-top: 13%;
}
.periodo-Interactivo{
	width: 180px; height: 30px;
	display: flex;
	justify-content: space-between ;
	align-items: center;
	border: 2px solid green;
	margin-left: 50px;
	font-size: 20px;
}
.periodo-NoInteractivo{
	width: 205px; height: 30px;
	display: flex;
	justify-content: space-between ;
	align-items: center;
	border: 2px solid green;
	margin-right: 20px;
	font-size: 20px;
}
.boton-arrowsUp{
	width: 50px; height: 35px;
	position: absolute;
	display: flex;
	justify-content: space-between ;
	align-items: center;
	border: 2px solid green;
	left: 456px; top: 180px;
	margin-top: 15%;
}
.boton-arrowsUpYear{
	width: 50px; height: 35px;
	position: absolute;
	display: flex;
	justify-content: space-between ;
	align-items: center;
	border: 2px solid green;
	left: 592px; top: 180px;
	margin-top: 15%;
}
.boton-arrowsDown{
	width: 150px; height: 35px;
	position: absolute;
	display: flex;
	justify-content: space-between ;
	align-items: center;
	border: 2px solid green;
	left: 456px; top: 260px;
	margin-top: 15%;
}
.boton-Year{
	width: 325px; height: 65px;
	left: 585px; top: 200px;
	margin-top: 15%;
}
.cambio-automatico-Mes{
	width: 325px; height: 65px;
	left: 775px; top: 225px;
	margin-top: 15%;
}
.cambio-automatico-Year{
	width: 325px; height: 65px;
	left: 915px; top: 225px;
	margin-top: 15%;
}
.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 6px;
	background-color: transparent;
}
.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);

}
.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);

}
.calcularNormal {
	width: 193px; height: 61px;
	background-image: url('../../assets/Botones/05_Calcular.png');
	background-repeat: no-repeat;
	margin-top: 25%;

}
.calcularActivo {
	width: 193px; height: 61px;
	background-image: url('../../assets/Botones/05_Calcular_Activo.png');
	background-repeat: no-repeat;
	margin-top: 25%;

}
