@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

p {
	margin: 0;

}

.clip-contents {
	overflow: hidden;

}

.flex-col-hstart-vstart {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

}

.flex-col-hcenter {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.flex-row-vend-hstart {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;

}

.flex-hcenter {
	justify-content: center;

}


.follow {
	position: absolute;
	width: 343px;
	height: 52px;
	left: 16px;
	top: 339px;
	padding: 17px 124px 15px 123px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 1);
	border: 2px solid rgba(0, 0, 0, 1);
	width: 343px;
	height: 52px;

}

.message {
	position: absolute;
	width: 343px;
	height: 52px;
	left: 16px;
	top: 407px;
	padding: 17px 138px 15px 137px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 1);
	border: 2px solid rgba(0, 0, 0, 1);
	width: 343px;
	height: 52px;

}

.txt-501 {
	font-size: 13px;
	font-family: Roboto, sans-serif;
	font-weight: 900;
	letter-spacing: 0.52px;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	word-wrap: break-word;
	text-transform: uppercase;

}
.txt-502 {
	font-size: 13px;
	font-family: Roboto, sans-serif;
	font-weight: 900;
	letter-spacing: 0.52px;
	color: rgba(0, 0, 0, 1);
	text-align: center;
	word-wrap: break-word;
	text-transform: uppercase;

}
